{% extends 'base.html' %}
{% block content %}

<section class="login-area" style="width: 700px; margin: auto;">
   <div class="container" id="container">
      <div class="row">
         <div class="col-md-12">
            <div class="massage text-center">
               <h2>Password Reset Complete</h2>
               <p>Your password has been reset successfully. You can now <a href="{% url 'accounts:login_view' %}">log
                     in</a>.</p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}