{% extends 'base.html' %}
{% block content %}
<section class="login-area">
   <div class="container" id="container">
      <div class="row">
         <div class="col-md-6">
            <div class="login-left form-container sign-in">

               <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h2 class="text-center mb-4">Set New Password</h2>
                  <div class="form-group single-box">
                     {{ form.as_p }}
                  </div>
                  <input type="submit" class="btn-style-1" value="Change Password">
               </form>
            </div>
         </div>
         <div class="col-md-6">
            <div class="login-right toggle-container">
               <div class="toggle">
                  <div class="toggle-panel toggle-right">
                     <h1 class="text-white">Hello, Friend!</h1>
                     <p class="text-white">Login with your
                        personal details to use all of site
                        features</p>
                     <a class="btn-style-2" href="{% url 'accounts:register_view' %}" id="register">Sign Up</a>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>
{% endblock %}