{% extends 'base.html' %}
{% block content %}


<section class="login-area">
   <div class="container" id="container">
      <div class="row">
         <div class="col-md-6">
            <div class="login-left form-container sign-in">

               <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h2 class="text-center mb-4">Reset Password</h2>

                  <div class="social-icons">
                     <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                     <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                     <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                     <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                  </div>

                  <span>Use Your Email and Send Password Reset Link</span>

                  <!-- Email Field -->
                  <div class="form-group">
                     <input type="email" name="email" placeholder="Enter your Register E-mail*" autocomplete="email"
                        maxlength="254" required="" id="id_email">
                     <input type="submit" value="Send Password Reset Email"></input>
                  </div>
                  <a href="{% url 'accounts:login_view' %}" class="forgot-password">Back to Login?</a>
               </form>



            </div>
         </div>

         <div class="col-md-6">
            <div class="login-right toggle-container">
               <div class="toggle">
                  <div class="toggle-panel toggle-right">
                     <h1 class="text-white">Hello, Friend!</h1>
                     <p class="text-white">Register with your
                        personal details to use all of site
                        features</p>
                     <a class="btn-style-2" href="{% url 'accounts:register_view' %}" id="register">Sign Up</a>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>

<section class="login-area">
   <div class="container">
      <div class="row">
         <div class="col-md-6 login-left form-container sign-in">

            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit">Send Password Reset Email</button>
            </form>
         </div>
      </div>
   </div>

</section>


{% endblock %}