.container_book {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.book_info {
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
}

select,
input[type="text"],
textarea,
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

select:focus,
input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.btn-style-3 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    background: #e1afd1;
    display: inline-block;
    padding: 17px 50px;
    border-radius: 4px;
    transition: 0.5s;
    border: 1px solid #7469b6;
    margin-left: 150px;
}

.btn-style-3:hover,
.login-area .social-icons a i:hover {
    background: linear-gradient(to right, #ad88c6, #5c6bc0, #6b4ea0, #ad88c6);
    color: #fff;
    border: 1px solid #7469b6;
}